ul {
  list-style: none;
}

.item-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.item-list button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: green;
  color: white;
}

.task-content {
  margin-top: 5rem;
  width: 50%;
  border: 1px solid blue;
  border-radius: 10px;
}
